name: check
on:
  workflow_dispatch:
  push:
    branches: ["main"]
    tags-ignore: ["**"]
  pull_request:
  schedule:
    - cron: "0 8 * * *"

concurrency:
  group: check-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: test ${{ matrix.py }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        py:
          - "3.12"
          - "3.11"
          - "3.10"
          - "3.9"
          - "3.8"
        os:
          - ubuntu-latest
          - windows-latest
          - macos-latest
        include:
           - { os: ubuntu-latest, py: "pypy3.10" }
           - { os: ubuntu-latest, py: "pypy3.8" }
           - { os: windows-latest, py: "pypy3.10" }
           - { os: windows-latest, py: "pypy3.8" }
    steps:
      - name: setup python for tox
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.py }} on ${{ matrix.os }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.py }}
          allow-prereleases: true
      - name: Create and activate a virtual environment (Windows)
        if: ${{ runner.os == 'Windows' }}
        run: |
          irm https://astral.sh/uv/install.ps1 | iex
          uv venv .venv
          "VIRTUAL_ENV=.venv" | Out-File -FilePath $env:GITHUB_ENV -Append
          "$PWD/.venv/Scripts" | Out-File -FilePath $env:GITHUB_PATH -Append
      - name: Create and activate a virtual environment (Unix)
        if: ${{ runner.os != 'Windows' }}
        run: |
          curl -LsSf https://astral.sh/uv/install.sh | sh
          uv venv .venv
          echo "VIRTUAL_ENV=.venv" >> $GITHUB_ENV
          echo "$PWD/.venv/bin" >> $GITHUB_PATH
      - name: Install self
        run: uv pip install tox-uv@.
      - name: setup python for test ${{ matrix.py }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.py }}
      - name: Pick environment to run
        run: |
          import codecs; import os; import sys
          env = "TOXENV=py{}{}\n".format(*sys.version_info[0:2])
          print("Picked:\n{}for{}".format(env, sys.version))
          with codecs.open(os.environ["GITHUB_ENV"], "a", "utf-8") as file_handler:
               file_handler.write(env)
        shell: python
      - name: setup test suite
        run: tox -vvvv --notest
      - name: run test suite
        run: tox --skip-pkg-install

  check:
    name: tox env ${{ matrix.tox_env }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        tox_env:
          - type
          - dev
          - readme
    steps:
      - uses: actions/checkout@v4
      - name: setup Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: Install uv
        run: python -m pip install uv
      - name: Uninstall pip
        run: python -m pip uninstall pip -y
      - name: Install self
        run: uv pip install --system tox-uv@.
      - name: run check for ${{ matrix.tox_env }}
        run: python -m tox -e ${{ matrix.tox_env }}
